ul {
  list-style-type: none;
  margin: 0;
  padding: 2px;
  overflow: hidden;
  background-color:royalblue;
  border-radius: 0px 0px 10px 10px;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}
.Camera {
    width: 400px;
    background-color: slategrey;
    border: 10px solid #ddd;
    margin: 30px auto 0px;
}